<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New macaron</title>
</head>
<body>

<form th:method="POST", th:action="@{/macarons}" th:object="${macaron}">
    <input type="text"   th:field="*{name}" placeholder="Name"/>
<!--    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>-->


    <input type="text" th:field="*{description}" placeholder="Description"/>
<!--    <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Description error</div>-->


    <input type="text" th:field="*{price}" placeholder="Price"/>

    </br>

    <input type="submit" value="create"/>
</form>

</body>
</html>